services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: ${localhost}
      ROBOT_HEADLESS: "true"
      ROBOT_TIMEOUT_MS: "25000"
      NODE_ENV: production
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - internal

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: todeolho
      POSTGRES_USER: todeolho
      POSTGRES_PASSWORD: Q1w2e3r4t5.
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: unless-stopped
    networks:
      - internal

  caddy:
    image: caddy:2
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app
    restart: unless-stopped
    networks:
      - internal

volumes:
  pgdata:
  caddy_data:
  caddy_config:

networks:
  internal:
    driver: bridge


